---
import {
  IconAbacus,
  IconBrandTeams,
  IconCalendar,
  IconDeviceFloppy,
  IconFiles,
  IconListCheck,
  IconMail,
  IconMap2,
  IconReservedLine,
  icons,
  IconUser,
} from "@tabler/icons-react";
import ClickableCard from "../components/clickableCard.astro";
import Base from "../layouts/Base.astro";

let clases: {
  name: string;
  id: string;
  url?: string;
  icon?: string;
  createdAt?: number;
}[] = JSON.parse(Astro.cookies.get("clases")?.value ?? "[]");
---

<Base>
  <div class="flex flex-col xl:flex-row w-full xl:w-[90%] mx-auto p-4">
    <div class="flex flex-col gap-3 p-4 flex-1 order-2 xl:order-1">
      <b>Plataformas</b>
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-3">
        <ClickableCard
          title="Centro de alumnado"
          description="Centro de alumnado"
          href="https://cs.javeriana.edu.co:8443/psp/CS92PRO/EMPLOYEE/SA/c/SA_LEARNER_SERVICES.SSS_STUDENT_CENTER.GBL"
        >
          <IconUser slot="Icon" color={"#0d9488"} />
        </ClickableCard>
        <ClickableCard
          title="Correo | Outlook"
          description="Correos electronicos"
          href="https://outlook.office365.com/mail/"
        >
          <IconMail slot="Icon" color={"#0d9488"} />
        </ClickableCard>
        <ClickableCard
          title="Campus virtual"
          description="Campus virtual"
          href="https://campusvirtuallms.javeriana.edu.co/d2l/home"
        >
          <IconMap2 slot="Icon" color={"#0d9488"} />
        </ClickableCard>
        <ClickableCard
          title="Microsoft Teams"
          description="Grupos, clases de microsoft teams."
          href="https://teams.microsoft.com/v2"
        >
          <IconBrandTeams slot="Icon" color={"#0d9488"} />
        </ClickableCard>
      </div>
      <b>Enlaces importantes</b>
      <ClickableCard
        title="Plan de estudios"
        description="Ingeniería de sistemas"
        href="https://drive.google.com/file/d/10GRkHgHyxEKHVsxJtIAUjQ7nD2Srgojd/view?usp=sharing"
      >
        <IconListCheck slot="Icon" color={"#0d9488"} />
      </ClickableCard>
      <ClickableCard
        title="Calendario 2024"
        description="Fechas importantes"
        href="https://drive.google.com/file/d/1XJjmkuXhiYynM7n3Rr7eeT_1Z0EOCwRB/view?usp=sharing"
      >
        <IconCalendar slot="Icon" color={"#0d9488"} />
      </ClickableCard>
      <ClickableCard
        title="Salas Biblioteca"
        description="Reservas Javeriana"
        href="https://biblioreservas.javeriana.edu.co/r/search/espacios_biblioteca_puj#s-lc-public-pt"
      >
        <IconReservedLine slot="Icon" color={"#0d9488"} />
      </ClickableCard>
      <ClickableCard
        title="Mapa campus"
        description="Ubicación de los edificios"
        href="https://www.javeriana.edu.co/nuestras-instalaciones"
      >
        <IconMap2 slot="Icon" color={"#0d9488"} />
      </ClickableCard>
      <ClickableCard
        title="Parciales programación"
        description="Recuperados de https://sophia.javeriana.edu.co"
        href="https://drive.google.com/drive/folders/1aCU_a_ur9dzw9e93ah5r-alnJA8HJTr7?usp=sharing"
      >
        <IconDeviceFloppy slot="Icon" color={"#0d9488"} />
      </ClickableCard>
      <ClickableCard
        title="Sophia Javeriana"
        description="Sophia javeriana, anuncios, asignaturas, parciales, talleres, software y demás recursos."
        href="https://sophia.javeriana.edu.co/programacion"
      >
        <IconFiles slot="Icon" color={"#0d9488"} />
      </ClickableCard>
    </div>
    <div class="flex flex-col gap-3 p-4 flex-[2] order-1 xl:order-2">
      <b>Clases Campus</b>
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-3">
        {
          clases.map((c) => {
            const Icon = icons[c.icon] ?? IconAbacus;

            return (
              <ClickableCard
                title={c.name}
                description={c.id}
                href={
                  "https://campusvirtuallms.javeriana.edu.co/d2l/home/" + c.id
                }
              >
                <Icon slot="Icon" />
              </ClickableCard>
            );
          })
        }
      </div>
    </div>
  </div>
</Base>
