---
import { IconListCheck } from "@tabler/icons-react";

const { title, description, clickable, href = "" } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class={"flex gap-3 p-2 rounded bg-white border border-gray-100 dark:bg-gray-800 dark:border-gray-700 " +
    (clickable ? "hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors cursor-pointer" : "")}
>
  <div class="flex justify-center items-center">
    <slot name="Icon" />
  </div>
  <div>
    <b>{title}</b>
    <p>{description}</p>
  </div>
</a>
