---
const { title = "", description = "" } = Astro.props;

const hasIcon = Astro.slots.has("Icon");
---

<div
  class={"flex gap-3 p-2 xl:p-4 rounded bg-white border border-gray-100 dark:bg-gray-800 dark:border-gray-700 w-full flex-1"}
>
  {
    hasIcon && (
      <div class="flex justify-center items-center">
        <slot name="Icon" />
      </div>
    )
  }
  <div class="w-full">
    {title && <b>{title}</b>}
    {description && <p>{description}</p>}
    <slot name="content" />
  </div>
</div>
